[submodule "plugins/wordpress-seo"]
	path = plugins/wordpress-seo
	url = https://github.com/Yoast/wordpress-seo.git
[submodule "plugins/regenerate-thumbnails"]
	path = plugins/regenerate-thumbnails
	url = https://github.com/Viper007Bond/regenerate-thumbnails.git
